@using _50DersteMvc.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <b>Aranacak Müşteri Adı :</b> @Html.TextBox("p") <input type="submit" value="Ara" />
    </p>

}


<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Müşteri ID</th>
            <th>Müşteri Adı</th>
            <th>Müşteri Soyadı</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Alert</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <th>@x.MUSTERIID</th>
                <td>@x.MUSTERIAD</td>
                <td>@x.MUSTERISOYAD</td>
                <td><a href="/Musteri/MusteriSil/@x.MUSTERIID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Musteri/MusteriGetir/@x.MUSTERIID" class="btn btn-info">Güncelle</a></td>
                <td>@Html.ActionLink("Sil Butonu", "MusteriSil", new { id = x.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor musunuz?')" })</td>
                @*<td>
                        @Html.ActionLink("Sil Butonu", "MusteriSil", new { id = x.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor musunuz?');" })
                    </td>*@

            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Musteri/MusteriEkle/" class="btn btn-success"> Yeni Müşteri Ekle </a>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable();
</script>



